h1 {
    color: rgb(50, 51, 66);
    font-family: 'Permanent Marker', cursive;
    text-align: center;
}

#surroundingImageOne {
    position: fixed;
    left: 500px;
    bottom: 809px;
    width: 356px;
}

#rockpaperscissorsGIF {
    position: fixed;
    left: 500px;
    bottom: 600px;
}

#surroundingImageTwo {
    position: fixed;
    left: 500px;
    bottom: 354px;
    width: 356px;
}

#userBoard {
    background-color: rgb(193, 194, 211);
    width: 500px;
    height: 549px;
}

#otherPlayerBoard {
    background-color: rgb(177, 162, 184);
    width: 500px;
    height: 549px;

    position: fixed;
    left: 856px;
    bottom: 355px;
}

.btn-group {
    position: relative;
    top: 40px;
}

.resultsBox {
    width: 280px;
    height: 250px;
    background-color: white;
    border-style: double;
    border-color: rgb(170, 170, 170);

    position: relative;
    left: 110px;
    top: 80px;
}

* {
    text-align: center;
}