h1 {
    color: rgb(50, 51, 66);
    font-family: 'Permanent Marker', cursive;
    text-align: center;
}

* {
    text-align: center;
}

#surroundingImageOne {
    position: fixed;
    left: 500px;
    bottom: 809px;
    width: 356px;
}

#rockpaperscissorsGIF {
    position: fixed;
    left: 500px;
    bottom: 600px;
}

#surroundingImageTwo {
    position: fixed;
    left: 500px;
    bottom: 354px;
    width: 356px;
}

.board {
    background-color: rgb(193, 194, 211);
    width: 500px;
    height: 549px;

    font-size: 18px;
}

#otherPlayerBoard {
    background-color: rgb(177, 162, 184);
    position: fixed;
    left: 856px;
    bottom: 404px;
}

.btn-group {
    position: relative;
    top: 40px;
}

.resultsBox {
    width: 280px;
    height: 250px;
    background-color: white;
    border-style: double;
    border-color: rgb(170, 170, 170);

    position: relative;
    left: 110px;
    top: 80px;
}

.form-group {
    position: fixed;
    top: 560px;
    width: 600px;
    margin-left: 20%;
}

#chatRoomDiv {
    background-color: rgb(199, 199, 199);
    border-top: double 0.5px rgb(157, 157, 167);
    width: 1356px;
    height: 239px;

    position: fixed;
    top: 549px;
    left: 0px;

    color: rgb(31, 30, 34);
    font-weight: 40px;
}

#exampleFormControlTextarea1 {
    height: 150px;
    max-height: 150px;
    overflow: auto;
}